* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2D8B52, #A5D6A7); /* Gradiente suave de verde */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover; /* Garante que o fundo cubra toda a tela */
    background-position: center;
}

.container {
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Para garantir que o conteúdo fique acima do fundo */
    z-index: 1; /* Para que a caixa de login fique em cima de qualquer fundo */
}

.title {
    font-size: 32px;
    color: #2D8B52;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2D8B52;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #248C43;
}

form {
    display: flex;
    flex-direction: column;
}
